.block-box {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	&__title {
		text-transform: uppercase;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 10px;

		span {
			font-weight: 700;
			font-size: 20px;
			color: var(--basic-orange);
			text-transform: uppercase;
			font-family: var(--base-font);

			@media (max-width: 767px) {
				font-size: 14px;
			}
		}

		svg {
			width: 24px;
			height: 24px;
			fill: var(--basic-orange);
		}

		@media (max-width: 991px) {
			svg {
				display: none;
			}
		}
	}

	&__link--green {
		span {
			color: var(--basic-green);
		}

		svg {
			fill: var(--basic-green);
		}
	}
}